DB_HOST=postgres
DB_PORT=5432
DB_USER=todo
DB_PASSWORD=todo
DB_NAME=todos
# Set to true for Cloud SQL over public IP. Omit or false for Docker Compose or Cloud SQL Auth Proxy (localhost).
DB_SSL=false
